body {
  width: 400px;
  background-color: #333;
  text-align: left;
  line-height: 45px;
  height: 600px;
  overflow: visible;
  border-radius: 10px;
  margin: 0px;
  margin-left: 29px;
  margin-left: 0;
  padding-left: 29px;
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  width: 37px;
  height: 100%;
  background-color: #b2b2b2;
}

ul#tabsPanel {
  /* display: inline-block;
  transform: rotate(360deg); */
  display: flex;
  justify-content: flex-end;
  transform: rotate(270deg) translateY(-196px) translateX(-195px);
  background-image: linear-gradient(45deg, #d59900f0, transparent);
  background: #b3b3b3;
  width: 100%;
  position: fixed;
  left: 0;
  margin-left: -3px;
  padding: 0px;
  overflow: hidden;
}

ul#tabsPanel li {
  background-color: #ffc90e;
  height: 36px;
  width: 61px;
  position: relative;
}
ul#tabsPanel li.active:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 107%;
  background-color: #fec80e;
  transform: rotate(16deg);
  left: -5px;
  top: -4px;
}

ul#tabsPanel li.active:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 107%;
    background-color: #fec80e;
    transform: rotate(16deg);
    left: 75px;
    top: 2px;
}

#btnrecording {
  color: black;
}
/* tabs */
/* #tabsPanel { */
/* position: fixed;
  width: 28px;
  height: 380px; */
/* background-image: linear-gradient(-135deg, #333 70%, #FFC90E 70%); */
/* left: 0;
  top: 0; */
/* } */
/* .tabText {
  color: white;
  font-weight: bold;
  transform: rotate(-90deg);
  user-select: none;
  cursor: pointer;
}
#tabAudio {
  color: black;
  margin-top: 27px;
}
#tabText {
  margin-top: 46px;
} */
/* #btnrecording {
  margin-top: 70px;
  position: fixed; */
/* width: 1px; */
/* height: 31px; */
/* padding: 0px 62px; */
/* padding-left: 33px;
  padding-right: 64px;
  background-image: linear-gradient(134deg, #ffc90e 70%, #3330 70%);
  left: -52px;
  transform: rotate(270deg);
  top: 140px;
  display: flex;
  justify-content: end;
  color: black;
  align-items: center;
} */
/* #tabSelected {
  position: fixed;
  width: 28px;
  height: 128px; */
/* background-image: linear-gradient(-135deg, #333 70%, #ffc90e 70%); */
/* left: 0;
  top: 0;
} */

#header-info {
  text-align: center;
  background: #333;
}
#bgPanel {
  background-color: #333;
  width: 230px;
  height: 100%;
}
#articlePanel {
  background-color: #333;
  display: none;
}
#audioPanel {
  display: none;
  width: 400px;
  background-color: #333;
  text-align: center;
  top: 0px;
  left: 0px;
}

#audioPanelControl {
  display: inline-flex;
  padding-left: 6px;
}

#audioNote {
  width: 140px;
  height: 15px;
  /* display: none; */
}
/* record */
.btnMedia {
  width: 40px;
  height: 34px;
}

#btnMark {
  width: 100px;
}
#btnUploadAudio {
  width: 100px;
}
#txtAudioDescription {
  margin-right: 10px;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  color: white;
  background: #333;
  resize: none;
}
#slcRecordings {
  width: 384px;
  
  margin-left: 6px;
  height: 100px;
  border-radius: 6px;
  color: white;
  background: #333;
}
#lblRecordTime {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-right: 255px;
}

#header-info ul li label {
  color: white;
}
.header {
  width: 80%;
  height: 18px;
  margin-top: -3px;
  /* margin-left: 10px; */
  vertical-align: middle;
  border-radius: 7px;
  background-color: #333;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  text-align: center;
}

#date {
  width: 200px;
  margin-top: -14px;
}

input::placeholder {
  color: #a93226;
}

button {
  width: 30px;
  height: 30px;
  opacity: 1;
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 10px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}
button:hover:not(.disabled) {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

button.disabled {
  color: #777;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

button img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
button.disabled img {
  filter: invert(45%) saturate(0%);
}

#quality {
  margin-left: 30px;
}

input[type="number"] {
  width: 24px;
  height: 26px;
  margin-left: 20px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #444;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"] {
  background-color: #444;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#lblSelections {
  width: 228px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #888;
  display: block;
  margin-top: -22px;
}
#lblSelectionsNone {
  width: 228px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #777;
  display: block;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

#selections {
  overflow-y: scroll; 
  height: 190px;
}

ul {
  color: white;
  padding-left: 0px;
  padding-bottom: 7px;
  margin: 0px;
}

ul li {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  padding-left: 20px;

  }

ul li label {
  display: inline-block;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  max-width: 54ch;
  line-height: 1rem;
}

ul li.selected {
  background-color: #154360;
}

ul li span {
  float: right;
}

#btnConnect {
  width: 85px;
  height: 25px;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 10px;
}

#btnConnections {
  width: 100px;
  height: 25px;
  font-size: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

#btnHomepage {
  width: 150px;
  height: 28px;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 32px;
}
#btnSaveArticle {
  width: 150px;
  height: 28px;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 32px;
}
#btnLogout {
  width: 112px;
  height: 25px;
  display: table;
  margin-top: 2px;
  margin-right: 12px;
}

.color.selected {
  box-sizing: border-box;
  border: 2px solid #ccc;
}

.color.disabled {
  border-color: #555;
  cursor: default;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.color-icon {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#login {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  text-align: center;
  top: 0px;
  left: 0px;
}

#login input {
  width: 150px;
  height: 26px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #444;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  text-align: center;
}

#login p {
  height: 20px;
  line-height: 20px;
  margin: 5px;
  margin-bottom: -5px;
  color: white;
}

#login button {
  width: 100px;
  margin-top: 30px;
}

#home {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  text-align: center;
  top: 0px;
  left: 0px;
}
#home button {
  width: 100px;
}

#connectionsPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #444;
}

#connectionsPanel > .title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: left;
}

#connections {
  width: 80%;
  height: 220px;
  margin: 0 auto;
  margin-top: 20px;
}

#connections li {
  height: 65px;
  margin-top: 5px;
}
.connectionPanel {
  height: 65px;
  border-radius: 10px;
  text-align: left;
  margin-left: -10px;
  cursor: default;
}

.connectionPanel:hover {
  background-color: #4c4c4c;
}

.connectionPanel p {
  height: 18px;
  padding-left: 6px;
  line-height: 18px;
  color: white;
  margin: 0px;
}

.connectionPanel > p.title {
  font-weight: bold;
  padding-top: 6px;
}

.connectionPanel > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 22ch;
}

.removeSelection {
  color: #999;
  position: relative;
  float: right;
  font-weight: bold;
  margin-right: 8px;
}

.removeSelection:hover {
  cursor: pointer;
}

#btnBack {
  width: 80px;
  height: 24px;
  margin-left: 78px;
  margin-top: -20px;
}

#description {
  height: 60px;
  width: 350px;
  margin-top: -50px;
  margin-left: 0px;
  text-align: left;
  border-color: white;
  resize: none;
}

#btnAdd {
  width: 100px !important;
  margin-left: 120px !important;
}

#percent {
  margin-left: 10px !important;
}

#color {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 30px !important;
  border-radius: 5px;
}

#lbl-username {
  margin-left: 18px;
  width: 100%;
  text-align: start;
  margin-right: 210px;
  font-weight: bold;
}

#capturing {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  background: #333;
}

#capturing label {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 150px;
  color: white;
  font-size: 16px;
}

#capturing button {
  width: 100px;
  text-align: center;
  position: absolute;
  margin-top: 450px;
  margin-left: 72px;
}

.record-animation {
  width: 100px;
  height: 100px;
  position: absolute;
  filter: invert(0%) saturate(0%);
}
.record-animation.play {
  filter: none;
  animation: pulse 2s infinite ease-in-out;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

#record-animation1 {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#record-animation2 {
  /* margin-left: auto;
  margin-right: auto; */
  top: 120px;
  left: 49px;
  right: 0;
  bottom: 0;
}

audio {
  width: 90%;
  height: 28px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #aaa;
}

.comment-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  /* align-items: center;
  margin-bottom: 10px; */
}

.comment-text {
  /* flex: 1; */
  display: none;
  margin-right: 2px;
}

.edit-button {
  border: none;
  padding: 2px;
  cursor: pointer;
  width: 30px;
  height: 18px;
  opacity: 1;
  margin: 1px;
  margin-left: 1px;
  vertical-align: top;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: #0056b3;
}

button.delete-button {
  width: 48px;
  height: 18px;
  opacity: 1;
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}
